<!--    form validators are not working-->
<br><br>
<div *ngIf="cart.length==0">
    <p class="empty-cart-message">Your cart is empty.</p>
</div>

<div class="row">
    <div class="column">
      
        <ul>
            <div class="cart-item">
            <li  *ngFor="let product of cart">
                <div class="column2">
                    <img src = {{product.url}}> 
                </div>
                <div class="column2">
                    <p><b>{{product.name}}</b></p>
                    <p>${{product.price}}</p>
                    <p>{{product.quantity}}</p>
                </div>
            </li>
        </div>  
        </ul>

<p *ngIf="cart.length>0">Total: ${{total}}</p>
</div>

    <div class="column" *ngIf="cart.length>0">  
        <form #form="ngForm" (ngSubmit)="onSubmit()">
            <label>Full Name  </label>
            <input type="text" required minlength="3"  [(ngModel)]="username"/>
            <br><br>
            <label>Address  </label>
            <input type="text" required minlength="6" [(ngModel)]="userAddress"/>
            <br><br>
            <label>Credit Card Number  </label>
            <input type="text" placeholder="16-digit number" minlength="16" maxlength="16" required  [(ngModel)]="userCC"/>
            <br><br>
            <button type="submit" [disabled]="form.invalid">Submit</button>
        </form>
        <button (click)="clearCart()">Clear Cart</button>
    </div>
</div>