<div class="product-container">
<ul>
    <div class="product-index">
    <li *ngFor="let product of productList">
        <img class="product-image" src =  {{product.url}} (click)="displayProductDetails(product.id)">
        <p><b>{{product.name}}</b></p>
        <p><b>${{product.price}}</b></p>
        <select id="quantity" class="select-input" [(ngModel)]="item_quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
        </select>
        <br>
        <button (click)="addProductToCart(product)">Add to Cart</button>
        <br><br><br><br>
    </li>
    </div>
</ul>
</div>
